body {
  width: 100%;
  height: 100%;
}
main {
  width: 100%;
}

h1 {
  margin: 0;
  padding: 0.5rem;
  line-height: 2;
  text-align: center; /* Added to remove default margin */
}

section.hero {
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: pink;
}
.hero-container-1 {
  width: 60%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}
.hero-container-2 {
  width: 30%;
  object-fit: cover;
  padding: 2rem;
}
img {
  border-radius: 10px;
}
